@font-face {
  font-family: mc;
  src: url('assets/font/Minecraft.woff2');
  font-weight: normal;
  font-style: normal;
}

h2 {
font-family: mc;
}

h3 {
font-family: mc;
margin: 0;
}

.logo {
  width: 384px;
  height: 216px;
}

.button {
  background-image: url('assets/buttons/btn-minecraft.png');
  background-size: cover;
  width: 400px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  margin: 8px;
}

.button:hover {
  background-image: url('assets/buttons/btn-minecraft-hover.png');
  background-size: cover;
  width: 400px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  margin: 8px;
}

.small-button {
  background-image: url('assets/buttons/btn-minecraft.png');
  background-size: cover;
  width: 196px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

.small-button:hover {
  background-image: url('assets/buttons/btn-minecraft-hover.png');
  background-size: cover;
  width: 196px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

#multiplayer-menu {
  width: 100vw;
  height: 100vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8LKA_jXN6QkASVr6naWW98b6qciLXQXInib5ep5CilRPffOP8uSe2fwahBeTJmLD5mUk&usqp=CAU');
  background-size: cover;
  background-position: center center;   
  margin: 0;
  padding: 0;
}

  
