@font-face {
  font-family: mc;
  src: url('assets/font/Minecraft.woff2');
  font-weight: normal;
  font-style: normal;
}

h2 {
font-family: mc;
}

h3 {
font-family: mc;
margin: 0;
}

.logo {
  width: 384px;
  height: 216px;
}

.button {
  background-image: url('assets/buttons/btn-minecraft.png');
  background-size: cover;
  width: 400px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-image: url('assets/buttons/btn-minecraft-hover.png');
  background-size: cover;
  width: 400px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
}
