.logo {
  width: 384px;
  height: 216px;
}

.button {
  background-image: url('assets/buttons/btn-minecraft.png');
  background-size: cover;
  width: 400px;
  height: 92px;
}

.button:hover {
  background-image: url('assets/buttons/btn-minecraft-hover.png');
  background-size: cover;
  width: 400px;
  height: 92px;
}
